.image_container
    = image_tag "inventory_management_system.png", style: "width: 100%; opacity: 80%;"
    .centered.text-light.text-uppercase.font-weight-bold{style: 'font-size: 40pt;'}
        Manage Your Inventory
    .below_centered.text-light
        Using Bops IMS for tracking inventory levels, orders, sales, and deliveries. Ensure your
        inventory can be managed with our adaptable and flexible software.

